---
type Props = {
  title?: string;
};

const {title: _title} = Astro.props;
const title = `satelllte/space${_title ? ` • ${_title}` : ''}`;
const description =
  "The creative space of @satelllte's software engineer. Three.js, React Three Fiber (R3F), Shaders, WebGL, WebGPU, and beyond.";
---

<html lang='en' class='h-full'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, viewport-fit=cover'
    />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content='/assets/images/og.png' />
    <meta property='og:type' content='website' />
    <meta property='og:site_name' content='satelllte/space' />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:site' content='@isatelllte' />
    <meta name='twitter:creator' content='@isatelllte' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content='/assets/images/og.png' />
    <link rel='icon' sizes='32x32' href='/favicon.ico' />
    <link
      rel='icon'
      sizes='any'
      type='image/svg+xml'
      href='/assets/icons/favicon.svg'
    />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/assets/icons/apple-touch-icon.png'
    />
    <meta
      name='theme-color'
      media='(prefers-color-scheme: light)'
      content='#fcfcfc'
    />
    <meta
      name='theme-color'
      media='(prefers-color-scheme: dark)'
      content='#111111'
    />
    <link rel='preconnect' href='https://rsms.me/' />
    <link rel='stylesheet' href='https://rsms.me/inter/inter.css' />
    <style>
      :root {
        font-family: Inter, sans-serif;
        font-feature-settings:
          'liga' 1,
          'calt' 1; /* fix for Chrome */
      }
      @supports (font-variation-settings: normal) {
        :root {
          font-family: InterVariable, sans-serif;
        }
      }
    </style>
    <script is:inline>
      (() => {
        let theme = window.localStorage.getItem('theme');
        if (theme !== 'light' && theme !== 'dark') {
          theme = window.matchMedia('(prefers-color-scheme:dark)').matches
            ? 'dark'
            : 'light';
        }

        if (theme === 'light') {
          document.documentElement.classList.remove('dark');
        } else {
          document.documentElement.classList.add('dark');
        }

        window.localStorage.setItem('theme', theme);
      })();
    </script>
  </head>
  <body class='h-full bg-gray-1 selection:bg-gray-5'>
    <slot />
  </body>
</html>
